@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap");

/* VAR CSS*/
:root {
  --header-height: 3.5rem;

  /* Colors */
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 70%);
  --text-color-light: hsl(0, 0%, 60%);
  --body-color: hsl(0, 0%, 0%);
  --container-color: hsl(0, 0%, 8%);

  /* Font and typography */
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /* Font weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}


/* Responsive typography */
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 5.5rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

mark {
  color: #fff;
  background-color: #000;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

body {
  background-color: var(--body-color);
}

button,
input {
  outline: none;
  border: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}


.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; 
}

/* HEADER & NAV */

.header{
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #7fa9b8;
  background-image: linear-gradient(45deg, #7fa9b8, #000000);
  background-size: 100%;
  background-repeat: repeat;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  font-size: 1.2rem;
}

.nav{
  margin-top: 20px;
  height: var(--header-height);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 40px;
  font-size: 20px;
}

.nav_logo{
  font-size: 24px;
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  animation: showContent 1s ease-in-out 1 forwards;
}

.nav_logo:hover::after{
  width: 70%;
}

.nav_logo::after{
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--title-color);
  position: absolute;
  left: 0;
  bottom: -.5rem;
  transition: width .3s;
}

.nav_toggle,
.nav_close{
  display: flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}
/* Navigation for mobile devices */
@media screen and (max-width: 1023px){
  .nav_menu{
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsl(0, 0%, 0% , .3);
    width: 100%;
    padding-block: 4rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transition: top .4s;
  }
}

.nav_list{
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav_link{
  position: relative;
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
  animation: showContent 1s ease-in-out 1 forwards;
}

.nav_link:hover::after{
  width: 70%;
}

.nav_link::after{
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--title-color);
  position: absolute;
  left: 0;
  bottom: -.5rem;
  transition: width .3s;
}

.nav_close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu{
  top: 0;
}

/* Add blur to header */
.blur-header::after{
  content: '';
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsl(0, 0%, 0%, .3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  top: 0;
  left: 0;
  z-index: -1;
}

/* Active link */

.active-link::after{
  width: 70%;
}

/* HOME */
.home{
  position: relative;
  min-width: 100vh;
}

/* Container Slide */
.container_slide{
  width: 100%;
  min-height  : 100vh;
  padding: 50px;
  display: inline-block;
 }
#slide{
  width: max-content;
  margin-top: 50px;
}

.item{
  width: 200px;
  height: 300px;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
  background-size: cover ;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #313131;
}
.item:nth-child(1),
.item:nth-child(2){
  left: 0;
  top: 0;
  transform: translate(0,0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
}

.item:nth-child(3){
  left: 50%;
}

.item:nth-child(4){
  left:calc(50% + 220px);
}
.item:nth-child(5){
  left:calc(50% + 440px);
}
.item:nth-child(6){
  left:calc(50% + 660px);
}
.item:nth-child(7){
  left:calc(50% + 880px);
  opacity: 0;
}
.item:nth-child(8){
  left:calc(50% + 1220px);
  opacity: 0;
}
.item:nth-child(9){
  left:calc(50% + 1440px);
  opacity: 0;
}
.item:nth-child(n+10){
  left:calc(50% + 1660px);
  opacity: 0;
}

.item .content{
  position: absolute;
  top: 50%;
  left: 100px;
  width: 500px;
  text-align: left;
  padding: 0;
  color: #eee;
  transform: translate(0,-50%);
  display: none;
  font-family: system-ui;
}

.item:nth-child(2) .content{
  display: block;
  z-index: 111111;
}

.item .subtitle{
  font-size: 50px;
  font-weight: bold;
  opacity: 0;
  animation: showContent 1s ease-in-out 1 forwards;
}

.item .desc{
  margin: 25px 0;
  opacity: 0;
  font-size: 20px;
  animation: showContent 1s ease-in-out 0.3s 1 forwards;
}

.item a{
  background-color: #000;
  border: 3px solid #c2c2c2;
  margin-top: 2.188rem;
  padding: 0.625rem 1.875rem;
  color: #eee;
  font-weight: 600;
  opacity: 0;
  animation: showContent 1s ease-in-out 0.6s 1 forwards;
}

.item a:hover{
  border: 1px solid #005baa;
  color: #005baa;
}

@keyframes showContent{
  from{
    opacity: 0;
    transform: translate(0,100px);
    filter: blur(24px);
  } to{
    opacity: 1;
    transform: translate(0,0);
    filter: blur(0);
  }
}

.buttons{
  position: absolute;
  bottom: 30px;
  z-index: 222222;
  text-align: center;
  width: 100%;
}

.buttons button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #555;
  transition: 0.5s;
}

.buttons button:hover{
  background-color: #acacac;
}
/* BUTTON */
.button{
  background-color: hsla(0, 89%, 48%, 0.2);
  padding: 1.25rem 1.5rem;
  color: var(--title-color);
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); 
}

.button i{
  font-size: 1.25rem;
  transition: transform .4s;
  font-weight: initial;
}

.button:hover i{
  transform: translateX(.25rem);
}

/*=============== ABOUT ===============*/


/*=============== POPULAR ===============*/


/*=============== EXPLORE ===============*/


/*=============== JOIN ===============*/


/*=============== FOOTER ===============*/
.footer{
  padding-block: 2.5rem ;
  background-color: #7fa9b8;
  background-image: linear-gradient(45deg, #7fa9b8, #000000);
  background-size: 100%;
  background-repeat: repeat;
}

.footer_content{
  row-gap: 3.5rem;
}

.footer_logo{
  display: inline-block;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  font-family: var(--second-font);
  margin-bottom: 1rem ;
}

.footer_data{
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 3.5rem;

}

.footer_title{
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.footer_links{
  display: grid;
  row-gap: .75rem;
}

.footer-link{
  color: var(--text-color);
  transition: color .4s;
}

.footer_link:hover{
  color: var(--title-color);
}

.footer_group,
.footer_social{
  display: flex;
}

.footer_group{
  margin-top: 5rem;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.footer_social{
  column-gap: 1.5rem;
}

.footer_social-link{
  color: var(--text-color);
  font-size: 1.25rem;
  transition: color .4s, transform .4s;
}

.footer_social-link:hover{
  color: var(--title-color);
  transform: translateY(-.25rem);
}

.footer_copy{
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  text-align: center;
}
/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container{
    margin-inline: 1rem ;
  }

  .footer_data{
    grid-template-columns: max-content;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .home_container,
  .about_container{
    grid-template-columns: 380px;
    justify-content: center;
  }

  .footer_data{
    grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (min-width: 768px) {
  .home_cards{
    grid-template-columns: repeat(2, 240px);
  }
  .footer_content{
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }

  .footer_group{
    flex-direction: row;
    justify-content: space-between;
  }

  .footer_copy{
    order: -1;
  } 
}

/* For large devices */
@media screen and (min-width: 1030px) {
  .nav_toggle,
  .nav_close{
    display: none;
  }

  .nav_list{
    flex-direction: row;
    column-gap: 4rem;
  }

  .footer_data{
    grid-template-columns: repeat(4 , max-content);
    column-gap: 4.5rem;
  }

}
@media screen and (min-width: 1152px) {
  .container{
    margin-inline: auto ;
  }
  .nav{
    height: calc(--header-height) + 1.5rem;
  }
  .blur-header::after{
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
  }

  .footer{
    padding-block: 5rem 3rem ;
  }

  .footer_title{
    margin-bottom: 1.5rem;
  }

  .footer_group{
    margin-top: 7rem;
  }

  .footer_social{
    column-gap: 2rem;
  }

  .footer_social-link{
    font-size: 1.5rem;
  }
}